<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
     <!-- accepted values PPE,CGIE -->
    <add key="Env" value="PPE"/>
    <add key="ppeurl" value="https://mylabs.px.ppe.pearsoncmg.com/Pegasus/frmLogin.aspx?s=3"/>
    <add key="ppeusername" value="ppe_pavani_ins"/>
    <add key="ppepassword" value="Password@1"/>
    <add key="cgieurl" value="https://mylabs.px.ppe.pearsoncmg.com/Pegasus/frmLogin.aspx?s=3"/>
    <add key="cgieusername" value="pavani2731ins"/>
    <add key="cgiepassword" value="Password1"/>
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>